<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/avatar.jpg" alt="">
        
            <div class="profile__name">
                Николай Муконин
            </div>
            <div class="profile__prof">
            Блог UI/UX дизайнера / Frontend разработчика
            </div>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/intrigun/" target="_blank">
                        <img src="assets/images/instagram.svg" alt="Николай Муконин Instagram">
                    </a>
                </li>
                <li class="social__item"> 
                    <a class="social__link" href="http://vk.com/nikolaymm" target="_blank">
                        <img src="assets/images/vk.svg" alt="Николай Муконин Vkontakte">
                    </a>
                </li>
                <li class="social__item">  
                    <a class="social__link" href="https://ru.pinterest.com/scipiont/" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="Николай Муконин Pinterest">
                    </a> 
                </li>
            </ul>
            <div class="profile__text">
                <p>
                    Front-end разработчик. Фрилансер. Работал в различных компаниях 
                    в должности программиста и веб-программиста с 2006 года.
                </p>
                <p>
                    UI/UX дизайнер. Создаю дизайны приложений и веб-сайтов с 2022 года.
                </p>

            </div>
        </div><!--/.profile-->
    </div><!--/.sidebar__content-->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>